/* General Styles */
.heroContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 85vh;
    position: absolute;
    bottom: 2rem;
    left: 5rem;
    z-index: 10;
    box-sizing: border-box;
    text-align: left;
}

.introTitle {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    justify-self: start;
    align-self: start;
    font-size: 1.2rem;
    margin: 0;
    color: #333;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 20s ease-out infinite;
}

.heroTitle {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: start;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0;
    color: #fff;
    background-color: rgba(44, 44, 44, 0.897);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    animation: fadeIn 20s ease-out infinite;
}

.subHeroTitle {
    grid-column: 2 / span 3;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    font-size: 1.25rem;
    margin: 0;
    color: #333b3f;
    background-color: rgba(255, 255, 255, 0.991);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 13, 188, 0.2);
    animation: fadeIn 20s ease-out infinite;
    width: auto;
    /* Adjust width automatically */
    max-width: 90vw;
    /* Ensure it doesn't overflow the screen */
    text-align: center;
    /* Center text inside the element */
}


@keyframes fadeIn {
    0% {
        opacity: 1;
        transform: translateY(20px);
    }

    50% {
        opacity: 0.9;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

/* Media Queries for Mobile */
@media (max-width: 1024px) {
    .heroContainer {
        grid-template-columns: 1fr;
        left: 1rem;
        bottom: 1rem;
        width: 95%;
        text-align: center;
        justify-items: center;
    }

    .introTitle,
    .heroTitle,
    .subHeroTitle {
        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
        width: 90vw;
        max-width: 100%;
        text-align: center;
        padding: 0.5rem 1rem;
    }

    .heroTitle {
        font-size: 2rem;
    }

    .subHeroTitle {
        font-size: 1.25rem;
    }
}

/* Mobile Image Adjustments */
.mobileImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.mobileImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Prevent horizontal scrolling */
html,
body {
    overflow-x: hidden;
}