.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 50;
    padding: 0 1rem;
    /* Add padding to left and right for better spacing */
}

.homeLink {
    display: flex;
    align-items: center;
    z-index: 60;
}

.homeIcon {
    width: 40px;
    height: auto;
    border-radius: 3px;
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 60;
    /* Keeps the button above other elements */
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    /* Increased size */
    height: 28px;
}

.bar {
    width: 100%;
    height: 4px;
    background: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 2px;
}

.menuButton.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menuButton.open .bar:nth-child(2) {
    opacity: 0;
}

.menuButton.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.mobileMenu {
    padding-top: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #f8f9fa;
    transition: height 0.3s ease, opacity 0.3s ease;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileMenu.dark {
    background: #000;
    color: #ffffff;
}

.mobileMenuOpen {
    height: 100vh;
}

.mobileMenuItem {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.mobileMenuItem:hover {
    background-color: #e2e2e2;
}

.mobileMenuItem.dark:hover {
    background-color: #333;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .header {
        padding: 0 1.5rem;
        /* Adjusted padding for mobile */
    }

    .menuButton {
        margin-right: 1.5rem;
        /* Aligns the hamburger menu better on mobile */
    }

    .mobileMenu {
        padding: 6rem 1.5rem;
        /* Ensure padding inside the mobile menu */
    }

    .mobileMenuItem {
        font-size: 1.25rem;
        /* Slightly smaller font for better fit */
    }
}

/* For larger screens (desktops) */
@media (min-width: 769px) {
    .menuButton {
        display: none;
    }

    .mobileMenu {
        display: none;
    }
}